@import url('https://fonts.googleapis.com/css2?family=Rubik&family=Spectral&display=swap');

h1 {
    color: palevioletred;
    font-size: 60px;
    text-align: center;
    font-family: 'Spectral';
}

img {
    height: auto;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: darkolivegreen;
}

ul {
    text-align: center;
    list-style-type: square;
    list-style-position: inside;
    padding: 10px;
    margin: 100px;
    font-family: 'Rubik', sans-serif;

}

a {
    color: aliceblue;
    font-size: 36px;
 }